@inherits LayoutComponentBase

<div class="login-shell">
    <div class="login-brand-panel">
        <img class="brand-illustration" src="/images/login-illustration.png" alt="Login Graphic" />
    </div>
    <div class="login-form-panel">
        @Body
    </div>
</div>
